@font-face {
  font-family: "Work Sans";
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/WorkSans-VariableFont_wght.woff2") format("woff2");
}

:root {
  --white: hsl(0, 100%, 100%);
  --purple-100: hsl(275, 100%, 97%);
  --purple-500: hsl(281, 83%, 54%);
  --purple-600: hsl(292, 16%, 49%);
  --purple-950: hsl(292, 42%, 14%);
  --focus-color: var(--purple-950);
  --focus-ring-offset: 2px;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  background-image: url("/images/background-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100%;
  background-color: var(--purple-100);
  color: var(--purple-600);
  font-family: "Work Sans", sans-serif;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 2rem;
  padding-block: 2rem;
  padding-inline: 1rem;
  margin: 0;
}

@media screen and (min-width: 48em) {
  body {
    background-image: url("/images/background-pattern-desktop.svg");
  }
}

:focus-visible:not([tabindex="-1"]) {
  outline: 2px solid var(--focus-color);
  outline-offset: var(--focus-ring-offset);
}

main {
  width: 100%;
}

h1 {
  font-size: 3.4em;
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: 1.2em;
  font-weight: 600;
}

[hidden] {
  display: none !important;
}

.cluster {
  display: flex;
  justify-content: var(--cluster-justify-content, flex-start);
  align-items: var(--cluster-align-items, flex-start);
  column-gap: var(--cluster-column-gap, 1rem);
  row-gap: var(--cluster-row-gap, 1rem);
  flex-wrap: var(--cluster-flex-wrap, nowrap);
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1rem);
}

.faq {
  background-color: var(--white);
  color: var(--purple-600);
  max-width: 38rem;
  margin-inline: auto;
  padding-inline: 2rem;
  padding-block-start: 3.2rem;
  padding-block-end: 2rem;
  border-radius: 1em;
  box-shadow: 0px 0px 60px 1px hsla(292, 42%, 14%, 0.1);
}

.faq__container {
  --flow-space: 1.4rem;
}

.faq__title {
  --cluster-align-items: center;
  --cluster-row-gap: 2rem;
  margin-block-end: 2.2rem;
}

.faq__title svg {
  width: 2.5em;
  height: auto;
  vertical-align: middle;
}

.faq :is(h1, h2) {
  color: var(--purple-950);
  margin-block-start: 0;
}

.faq h2 {
  cursor: pointer;
}

.faq h2:hover {
  color: var(--purple-500);
}

.faq button[aria-expanded] {
  background: none;
  border: 0;
  cursor: pointer;
}

.faq__content {
  --flow-space: 1.8rem;
  --cluster-justify-content: space-between;
  --cluster-align-items: center;
}

.faq__content + .faq__content {
  border-block-start: 1px solid var(--purple-100);
  padding-block-start: 1.5rem;
}
